In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('Top_10000_Movies_IMDb.csv')

In [3]:
movies.head(1)

,ID,Movie Name,Rating,Runtime,Genre,Metascore,Plot,Directors,Stars,Votes,Gross,Link
0,1,The Shawshank Redemption,9.3,142 min,Drama,82.0,"Over the course of several years, two convicts...","['Frank Darabont', 'Tim Robbins', 'Morgan Free...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",2752419,28341469,https://www.imdb.com/title/tt0111161/

In [4]:
movies = movies[['Movie Name','Genre','Plot','Directors','Stars','Rating']]

In [5]:
movies.head(1)['Directors'].values

array(["['Frank Darabont', 'Tim Robbins', 'Morgan Freeman', 'Bob Gunton', 'William Sadler']"],
      dtype=object)

In [6]:
movies.head(1)['Stars'].values

array(["['Tim Robbins', 'Morgan Freeman', 'Bob Gunton', 'William Sadler']"],
      dtype=object)

In [7]:
import ast
def convertStringToList(obj):
    return ast.literal_eval(obj)

In [8]:
movies['Stars'] = movies['Stars'].apply(convertStringToList)

In [9]:
movies['Directors'] = movies['Directors'].apply(convertStringToList)

In [10]:
def returnFirstName(obj):
    l = []
    l.append(obj[0])
    return (l)

In [11]:
movies['Directors'].apply(returnFirstName)

0             [Frank Darabont]
1       [Francis Ford Coppola]
2                  [Ram Mohan]
3              [Ertem Egilmez]
4           [Lenka Debiprasad]
                 ...
9994             [Eric Brevig]
9995      [John Carl Buechler]
9996             [Henry Joost]
9997      [Alexandros Avranas]
9998       [Grégory Levasseur]
Name: Directors, Length: 9999, dtype: object

In [12]:
movies['Directors'] = movies['Directors'].apply(returnFirstName)

In [13]:
movies['Plot'] = movies['Plot'].apply(lambda x:x.split())

In [14]:
movies.head()

,Movie Name,Genre,Plot,Directors,Stars,Rating
0,The Shawshank Redemption,Drama,"[Over, the, course, of, several, years,, two, ...",[Frank Darabont],"[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",9.3
1,The Godfather,"Crime, Drama","[Don, Vito, Corleone,, head, of, a, mafia, fam...",[Francis Ford Coppola],"[Marlon Brando, Al Pacino, James Caan, Diane K...",9.2
2,Ramayana: The Legend of Prince Rama,"Animation, Action, Adventure","[An, anime, adaptation, of, the, Hindu, epic, ...",[Ram Mohan],"[Yûgô Sakô, Koichi Saski, Arun Govil, Nikhil K...",9.2
3,The Chaos Class,"Comedy, Drama","[Lazy,, uneducated, students, share, a, very, ...",[Ertem Egilmez],"[Kemal Sunal, Münir Özkul, Halit Akçatepe, Tar...",9.2
4,Daman,"Adventure, Drama","[The, film, is, set, in, 2015., Sid,, is, a, y...",[Lenka Debiprasad],"[Vishal Mourya, Karan Kandhapan, Babushan Moha...",9.1

In [15]:
#removing spaces in between names
movies['Directors'] = movies['Directors'].apply(lambda x: [i.replace(" ","") for i in x])
movies['Stars'] = movies['Stars'].apply(lambda x: [i.replace(" ","") for i in x])

In [16]:
def convertList(obj):
    obj = obj.split(',')
    return obj

In [17]:
movies['Genre'] = movies['Genre'].apply(convertList)

In [18]:
movies['Genre'] = movies['Genre'].apply(lambda x: [i.replace(" ","") for i in x])

In [19]:
movies.head()

,Movie Name,Genre,Plot,Directors,Stars,Rating
0,The Shawshank Redemption,[Drama],"[Over, the, course, of, several, years,, two, ...",[FrankDarabont],"[TimRobbins, MorganFreeman, BobGunton, William...",9.3
1,The Godfather,"[Crime, Drama]","[Don, Vito, Corleone,, head, of, a, mafia, fam...",[FrancisFordCoppola],"[MarlonBrando, AlPacino, JamesCaan, DianeKeaton]",9.2
2,Ramayana: The Legend of Prince Rama,"[Animation, Action, Adventure]","[An, anime, adaptation, of, the, Hindu, epic, ...",[RamMohan],"[YûgôSakô, KoichiSaski, ArunGovil, NikhilKapoo...",9.2
3,The Chaos Class,"[Comedy, Drama]","[Lazy,, uneducated, students, share, a, very, ...",[ErtemEgilmez],"[KemalSunal, MünirÖzkul, HalitAkçatepe, TarikA...",9.2
4,Daman,"[Adventure, Drama]","[The, film, is, set, in, 2015., Sid,, is, a, y...",[LenkaDebiprasad],"[VishalMourya, KaranKandhapan, BabushanMohanty...",9.1

In [20]:
movies['tags'] = movies['Genre'] + movies['Plot'] + movies['Directors'] + movies['Stars']

In [21]:
movies.head()

,Movie Name,Genre,Plot,Directors,Stars,Rating,tags
0,The Shawshank Redemption,[Drama],"[Over, the, course, of, several, years,, two, ...",[FrankDarabont],"[TimRobbins, MorganFreeman, BobGunton, William...",9.3,"[Drama, Over, the, course, of, several, years,..."
1,The Godfather,"[Crime, Drama]","[Don, Vito, Corleone,, head, of, a, mafia, fam...",[FrancisFordCoppola],"[MarlonBrando, AlPacino, JamesCaan, DianeKeaton]",9.2,"[Crime, Drama, Don, Vito, Corleone,, head, of,..."
2,Ramayana: The Legend of Prince Rama,"[Animation, Action, Adventure]","[An, anime, adaptation, of, the, Hindu, epic, ...",[RamMohan],"[YûgôSakô, KoichiSaski, ArunGovil, NikhilKapoo...",9.2,"[Animation, Action, Adventure, An, anime, adap..."
3,The Chaos Class,"[Comedy, Drama]","[Lazy,, uneducated, students, share, a, very, ...",[ErtemEgilmez],"[KemalSunal, MünirÖzkul, HalitAkçatepe, TarikA...",9.2,"[Comedy, Drama, Lazy,, uneducated, students, s..."
4,Daman,"[Adventure, Drama]","[The, film, is, set, in, 2015., Sid,, is, a, y...",[LenkaDebiprasad],"[VishalMourya, KaranKandhapan, BabushanMohanty...",9.1,"[Adventure, Drama, The, film, is, set, in, 201..."

In [22]:
newData = movies[['Movie Name','tags']]

In [23]:
newData.head()

,Movie Name,tags
0,The Shawshank Redemption,"[Drama, Over, the, course, of, several, years,..."
1,The Godfather,"[Crime, Drama, Don, Vito, Corleone,, head, of,..."
2,Ramayana: The Legend of Prince Rama,"[Animation, Action, Adventure, An, anime, adap..."
3,The Chaos Class,"[Comedy, Drama, Lazy,, uneducated, students, s..."
4,Daman,"[Adventure, Drama, The, film, is, set, in, 201..."

In [24]:
newData['tags'] = newData['tags'].apply(lambda x: " ".join(x))

/tmp/ipykernel_150860/411501372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['tags'] = newData['tags'].apply(lambda x: " ".join(x))

In [25]:
newData.head()

,Movie Name,tags
0,The Shawshank Redemption,"Drama Over the course of several years, two co..."
1,The Godfather,"Crime Drama Don Vito Corleone, head of a mafia..."
2,Ramayana: The Legend of Prince Rama,Animation Action Adventure An anime adaptation...
3,The Chaos Class,"Comedy Drama Lazy, uneducated students share a..."
4,Daman,"Adventure Drama The film is set in 2015. Sid, ..."

In [26]:
newData['tags'][0]

'Drama Over the course of several years, two convicts form a friendship, seeking consolation and, eventually, redemption through basic compassion. FrankDarabont TimRobbins MorganFreeman BobGunton WilliamSadler'

In [27]:
#converting to lowercase
newData['tags'] = newData['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_150860/734265169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['tags'] = newData['tags'].apply(lambda x:x.lower())

In [28]:
newData['tags']

0       drama over the course of several years, two co...
1       crime drama don vito corleone, head of a mafia...
2       animation action adventure an anime adaptation...
3       comedy drama lazy, uneducated students share a...
4       adventure drama the film is set in 2015. sid, ...
                              ...
9994    animation adventure comedy a documentary filmm...
9995    comedy fantasy horror a wicked troll king in s...
9996    horror mystery it has been five years since th...
9997    crime drama mystery a murder investigation of ...
9998    horror mystery thriller an archaeological team...
Name: tags, Length: 9999, dtype: object

In [29]:
newData.head()

,Movie Name,tags
0,The Shawshank Redemption,"drama over the course of several years, two co..."
1,The Godfather,"crime drama don vito corleone, head of a mafia..."
2,Ramayana: The Legend of Prince Rama,animation action adventure an anime adaptation...
3,The Chaos Class,"comedy drama lazy, uneducated students share a..."
4,Daman,"adventure drama the film is set in 2015. sid, ..."

In [30]:
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [31]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [32]:
newData['tags'] = newData['tags'].apply(stem)

/tmp/ipykernel_150860/2831283580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['tags'] = newData['tags'].apply(stem)

In [33]:
newData['tags'][1]

'crime drama don vito corleone, head of a mafia family, decid to hand over hi empir to hi youngest son michael. however, hi decis unintent put the live of hi love one in grave danger. francisfordcoppola marlonbrando alpacino jamescaan dianekeaton'

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [35]:
vectors = cv.fit_transform(newData['tags']).toarray()

In [36]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [39]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import TruncatedSVD

# Dimensionality reduction using TruncatedSVD
svd = TruncatedSVD(n_components=100)
reduced_vectors = svd.fit_transform(vectors)

# Calculate cosine similarity on reduced vectors
similarity = cosine_similarity(reduced_vectors)

In [40]:
def recommend(movie):
    movie_index = newData[newData['Movie Name'] == movie].index[0]
    distances = similartiy[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(newData.iloc[i[0]]['Movie Name'])

In [43]:
recommend('3 Idiots')

Nanban
Zindagi Na Milegi Dobara
Jaane Tu... Ya Jaane Na
Fukrey
Perfect Strangers